body {
  padding-bottom: 50px;
}

p {
  word-wrap: break-word;
}

a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.navbar {
  margin-bottom: 20px;
}

.col * {
  margin-top: 10px;
}

.top-buffer {
  margin-top: 40px;
}

.invisible {
  display: none;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 100%;
}
