a {
  color: dimgray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.navbar {
  margin-bottom: 20px;
}

.col * {
  margin-top: 10px;
}

.top-buffer {
  margin-top: 40px;
}