header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

header li {
  margin: 20px;
  font-size: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}

header li a.active {
  color: gray;
}

header * {
  display: inline;
}

body {
  padding: 30px;
  margin-top: 50px;
}

p {
  max-width: 500px;
}

script {
  color: transparent;
}

.wrapper {
  display: grid;
  grid-template-columns: 600px 600px 600px;
  grid-gap: 10px;
}

.box {
  padding: 20px;
  color: black;
  text-decoration: none;
  text-align: center;
}
